---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import PricingCard from "@components/pricing.astro";

const pricing = [
  {
    name: "Digital Consultation",
    price: "Free",
    popular: false,
    features: [
      "Business Idea",
      "Digital Transformation",
      "Planning",
      "Design Mockups",
      "Basic Integrations",
    ],
    button: {
      text: "Proceed",
      link: "/",
    },
  },

  {
    name: "Web Development",
    price: "RM2,000",
    popular: true,
    features: [
      "Corporate site",      
      "Wordpress site",
      "Single Landing Page",
      "E-commerce",
      "Add-ons",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },

  {
    name: "Management System",
    price: "Custom",
    popular: true,
    features: [
      "Warehouse System",      
      "Employee Attendance Tracker",
      "Leave Management System",
      "Accounting & Finance System",
      "Customized System",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },

  {
    name: "Figma Expertise",
    price: "Custom",
    popular: true,
    features: [
      "User Interface Design",      
      "Prototyping & Interfactions",
      "Collaboration & Version Control",
      "Component Libraries",
      "Developer Handoff",
    ],
    button: {
      text: "Get Started",
      link: "/",
    },
  },

];
---
<link rel="icon" type="image/svg+xml" href="favicon.svg" />
<Layout title="Consultation">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Our Services</Fragment>
      <Fragment slot="desc">
        Free, completely free to talk to us 
      </Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-screen-lg mt-12">
      {pricing.map((item) => <PricingCard plan={item} />)}
    </div>
  </Container>
</Layout>
