---
// @ts-ignore
import { Icon } from "astro-icon";

const features = [
  {
    title: "Custom Software Development",
    description:
      "Tailored solutions to meet your unique business needs. From web applications to mobile apps, we create software that drives efficiency and innovation.",
    icon: "bx:bxs-terminal",
  },
  {
    title: "UI/UX Design",
    description:
      "Engaging and intuitive user interfaces that enhance user experience and drive customer satisfaction. Our design experts ensure your software not only functions flawlessly but also looks stunning.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Consulting & Strategy",
    description:
      "Consultation by our digital experts to help you optimize business technology infrastructure and achieve business objectives.",
    icon: "bx:bxs-note",
  },
  {
    title: "Project Management",
    description:
      "With our efficient project management approach, ensuring timely delivery, clear communication, and adherence to budget constraints.",
    icon: "bx:bxs-cog",
  },
  {
    title: "Support Maintenance",
    description:
      "Assure clients of ongoing technical support and maintenance services to ensure the smooth operation and longevity of their software systems.",
    icon: "bx:bxs-wrench",
  },
  {
    title: "Community",
    description:
      "Astro is an open source project powered by hundreds of contributors making thousands of individual contributions.",
    icon: "bx:bxs-user",
  },
];
---

<div class="mt-16 md:mt-0">
  <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight">
    Exploring Primary Focus, Empowering Your Business
  </h2>
  <p class="text-lg mt-4 text-slate-600">
   Through innovative technologies, tailored solutions, and strategic insights, we strive to unlock your business's full potential in the digital landscape. 
Our dedicated team of experts works tirelessly to understand your unique challenges, leveraging our expertise to craft transformative solutions that drive growth, efficiency, and success. 
  </p>
</div>

<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-16 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-black rounded-full  p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
